/*********** Page Loader **********/
.Loading {
    width: 100%;
    height: 4px;
    position: fixed;
    display: inline-block;
    top: 0;
    background: transparent;
    border-radius: 4px;
    overflow: hidden;
    z-index: 999;
}
  
.Loading:after {
content: '';
position: absolute;
left: 0;
width: 0;
height: 100%;
border-radius: 0px;
animation: load 5s infinite;
}

@keyframes load {
0% {
width: 0;
background: #4fe4ff;
}

25% {
width: 40%;
background: #a0d2eb;
}

50% {
width: 60%;
background: #4fe4ff;
}

75% {
width: 75%;
background: #4fe4ff;
}

100% {
width: 100%;
background: #4fe4ff;
}
}

@keyframes pulse {
0% {
background: #4fe4ff;
}

25% {
background: #4fe4ff;
}

50% {
background: #4fe4ff;
}

75% {
background: #4fe4ff;
}

100% {
background: #4fe4ff;
}
}
/*********** END Page Loader **********/

/*********** Menu Active images ***********/
#dashboarddefaultMain a.active .sidenav-sub {
    content:url("../../../../app/views/assets/img/menu-icon/active-icon/dot.svg");
}
#instanceminstanceMain a.active .sidenav-sub {
    content:url("../../../../app/views/assets/img/menu-icon/active-icon/dot.svg");
}
#instancecinstanceMain a.active .sidenav-sub {
    content:url("../../../../app/views/assets/img/menu-icon/active-icon/dot.svg");
}
#internetbandwidthMain a.active img { 
    content:url("../../../../app/views/assets/img/menu-icon/active-icon/internetbandwidth.svg");
}
#currentusageMain a.active img {
    content:url("../../../../app/views/assets/img/menu-icon/active-icon/currentusage.svg");
}
#invoicesMain a.active img {
    content:url("../../../../app/views/assets/img/menu-icon/active-icon/invoice.svg");
}
#billingsettingsMain a.active img {
    content:url("../../../../app/views/assets/img/menu-icon/active-icon/payment.svg");
}
#accountMain a.active img {
    content:url("../../../../app/views/assets/img/menu-icon/active-icon/account.svg");
}
#securityMain a.active img {
    content:url("../../../../app/views/assets/img/menu-icon/active-icon/shield.svg");
}
#supportMain a.active img {
    content:url("../../../../app/views/assets/img/menu-icon/active-icon/support.svg");
}
#faqMain a.active img {
    content:url("../../../../app/views/assets/img/menu-icon/active-icon/faq.svg");
}
/********** END Menu Active images ************/

.brand-sidebar .logo-wrapper a.brand-logo img {
    height: 30px;
}
.gradient-45deg-indigo-purple {  
    background: rgb(55,59,68);
    background: linear-gradient(45deg,#013850,#0773a5)!important;
}
.brand-sidebar span.logo-text {
    padding-left: 3px !important;
}
.brand-sidebar .brand-logo {
    padding: 18px 12px 22px 22px !important;
}
.sidenav li a.active {
    background: linear-gradient(45deg,#013850,#0773a5)!important;
    box-shadow: 3px 3px 20px 0 #5a7f91;
}
.btn-floating {
    background: linear-gradient(45deg,#40addd,#0076ad)!important; 
}
.btn-flat.disabled, .btn-flat.btn-flat[disabled] {
    color: #fff !important;
}
.btn-flat.disabled, .btn-flat:disabled, .btn-flat[disabled], .btn-floating.disabled, .btn-floating:disabled, .btn-floating[disabled], .btn-large.disabled, .btn-large:disabled, .btn-large[disabled], .btn-small.disabled, .btn-small:disabled, .btn-small[disabled], .btn.disabled, .btn:disabled, .btn[disabled], .disabled.btn-large, .disabled.btn-small {
    cursor: no-drop !important;
    pointer-events: all !important;
    color: #fff !important;
    /* background-color: #dfdfdf!important; */
    background: linear-gradient(45deg,#546e7a,#cfd8dc)!important;
    box-shadow: none !important;
}
.btn.disabled:hover, .disabled.btn-large:hover, .disabled.btn-small:hover, .btn-floating.disabled:hover, .btn-large.disabled:hover, .btn-small.disabled:hover, .btn-flat.disabled:hover, .btn:disabled:hover, .btn-large:disabled:hover, .btn-small:disabled:hover, .btn-floating:disabled:hover, .btn-large:disabled:hover, .btn-small:disabled:hover, .btn-flat:disabled:hover, .btn[disabled]:hover, .btn-large[disabled]:hover, .btn-small[disabled]:hover, .btn-floating[disabled]:hover, .btn-large[disabled]:hover, .btn-small[disabled]:hover, .btn-flat[disabled]:hover {
    color: #fff !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.cursor-disabled {
    cursor: not-allowed !important;
}
.navbar #profile-dropdown {
    width: 250px !important;
}
.text-nowrap-profile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-nowrap-common {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown-content {
    z-index: 10;
    max-height: 300px;
}
.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* :disabled {
    color: #fff !important;
    cursor: no-drop;
    background: linear-gradient(45deg,#546e7a,#cfd8dc)!important;
} */
.profile-button .avatar-status img {
  background: transparent;
}
.menu-header-icon {
    line-height: 63px;
    position: relative;
    display: inline-block;
    width: 20px;
    vertical-align: bottom;
    white-space: nowrap;
    border-radius: 50px;
}
.custom-select-label {
    left: 26px !important;
    background: white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    transform: translateY(-1.75rem) !important;
    top: 16px !important;
    z-index: 2;
}
.modal .custom-select-label {
    z-index: 10000;
}
.page-footer.footer-fixed {
    z-index: 10 !important;
}

/********* Intro Css *******/
/* Modal Css */
#intro .modal.open {
    height: 100%;
    max-height: 96%;
    top: 2% !important;
}
#intro .modal .btn-flat.disabled, .btn-flat:disabled, .btn-flat[disabled], .btn-floating.disabled, .btn-floating:disabled, .btn-floating[disabled], .btn-large.disabled, .btn-large:disabled, .btn-large[disabled], .btn-small.disabled, .btn-small:disabled, .btn-small[disabled], .btn.disabled, .btn:disabled, .btn[disabled], .disabled.btn-large, .disabled.btn-small {
    cursor: default;
    pointer-events: none !important;
    color: #fff!important;
    background-color: #dfdfdf!important;
    box-shadow: none;
}
#intro .modal .modal-content .carousel.carousel-slider .carousel-item .intro-step-title {
    color: #06597F;
 }
 #intro .modal .modal-content .carousel.carousel-slider ul.indicators .indicator-item.active {
     background-color: #06597F;
 }
 #intro .modal .modal-content .carousel.carousel-slider .carousel-fixed-item .middle-indicator-text.moveNextCarousel:hover {
     color: #fff !important;
     background-color: #06597F;
 }
 #intro .modal .modal-content .carousel.carousel-slider .carousel-fixed-item .middle-indicator-text.movePrevCarousel:hover {
     color: #fff !important;
     background-color: #06597F;
 }
 #intro .modal .modal-content .carousel.carousel-slider ul.indicators {
     bottom: 12px;
 }
 #intro .modal .modal-content .carousel.carousel-slider .carousel-fixed-item .middle-indicator-text.movePrevCarousel {
     top: 3px;
 }
 #intro .modal .modal-content .carousel.carousel-slider .carousel-fixed-item .middle-indicator-text.moveNextCarousel {
     top: 3px;
 }
 #intro .modal .bg-img-div {
     background-image: url(../../../../../app/views/html/surface/dashboard/img/wave.png);
 }
 .gradient-45deg-purple-deep-orange {
     background: linear-gradient(45deg, #0D89AD, #06597F) !important;
 }
 .purple-text {
     color: #06597F !important;
 }
 #intro .modal .modal-content .carousel.carousel-slider .carousel-item.slide-3 ul.feature-list li i.material-icons {
     background: linear-gradient(to right, #6FCCDD 0%, #015B80 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }


/********** Table CSS **********/
#main .section-data-tables .dataTables_wrapper table.dataTable tbody {
    height: auto; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: no-drop !important;
    color: #e1e1e1 !important;
    border: 0 !important;
    border-radius: 6px !important;
    background: linear-gradient(45deg,#546e7a,#cfd8dc)!important;
    box-shadow: 0 0 8px 0 #cfd8dc !important;
}
/* table.striped > tbody > tr > td {
  word-break: break-all;
  vertical-align: middle;
  white-space: normal !important;
} */
table.striped > tbody > tr > td {
   color: #000;
}

/*********** Font Sizes **********/
.fs-9 {
	font-size: 9px !important;
}
.fs-10 {
	font-size: 10px !important;
}
.fs-11 {
	font-size: 11px !important;
}
.fs-12 {
	font-size: 12px !important;
}
.fs-13 {
	font-size: 13px !important;
}
.fs-14 {
	font-size: 14px !important;
}
.fs-15 {
	font-size: 15px !important;
}
.fs-16 {
	font-size: 16px !important;
}
.fs-18 {
	font-size: 18px !important;
}
.fs-17 {
	font-size: 17px !important;
}
.fs-20 {
	font-size: 20px !important;
}
.fs-22 {
	font-size: 22px !important;
}
.fs-23 {
	font-size: 23px !important;
}
.fs-24 {
	font-size: 24px !important;
}
.fs-25 {
	font-size: 25px !important;
}
.fs-26 {
	font-size: 26px !important;
}
.fs-28 {
	font-size: 28px !important;
}
.fs-30 {
	font-size: 30px !important;
}
.fs-32 {
	font-size: 32px !important;
}
.fs-40 {
	font-size: 40px !important;
}
.fs-50 {
	font-size: 50px !important;
}

/******** Font Weight ********/
.font-weight-light {
	font-weight: 300 !important;
}
.font-weight-normal {
	font-weight: 300 !important;
}
.font-weight-semibold {
	font-weight: 400 !important;
}
.font-weight-bold {
	font-weight: 500 !important;
}
.font-weight-extrabold {
	font-weight: 800 !important;
}

/********** toast Css ***********/
#toast-container {
    top: -25px;
    right: 25px;
}
#toast-container>div {
    padding: 10px 15px 10px 50px;
    border-radius: 30px;
    opacity: unset;
}
button.toast-close-button {
    position: absolute !important;
    top: 14px !important;
    right: 10px !important;
}
.toast-message {
    position: inherit !important;
}

@media only screen and (max-width: 992px) {
    .sidenav-main .btn-sidenav-toggle {
        top: 12px;
    }
}
@media only screen and (max-width: 600px) {
    .sidenav-main .btn-sidenav-toggle { 
        top: 9px !important;
    }
    .brand-sidebar .brand-logo {
        padding: 13px 12px 22px 22px !important;
    }
}

.sidenav li > a > img, .sidenav li a.collapsible-header > img {
    height: 20px;
    width: 20px;
    margin: 0 15px 0 0;
    position: relative;
    top: 6px;
}
.sidenav-active-square .sidenav .collapsible-sub li:not(.open) > a > span {
    margin: 0 0 0 15px;
}
.sidenav-sub {
    width: 8px !important;
    left: 5px;
}

.sidenav .collapsible-header:after {
    font-family: 'FontAwesome';
    font-size: 18px;
    position: absolute;
    right: 0;
    content: "\f107";
    transition: transform .3s ease-in-out, opacity .25s ease-in-out .1s, -webkit-transform .3s ease-in-out;
    color: #afafaf;
}
.sidenav .collapsible-header:after {
    font-family: 'FontAwesome';
    font-size: 18px;
    position: absolute;
    right: 0;
    content: "\f105";
    transition: transform .3s ease-in-out, opacity .25s ease-in-out .1s, -webkit-transform .3s ease-in-out;
    color: #afafaf;
}

/************ Sweet Alert Message Css ************/
body.swal2-height-auto {
    height: inherit !important;
}
.swal2-popup {
    padding-bottom: 45px;
   border-radius: 7px;
}
.swal2-icon {
    width: 20px;
    height: 20px;
    margin: 16px 15px 15px 15px;
}
.swal2-icon .swal2-icon-content {
    font-size: 18px;
}
.swal2-title {
    top: 0;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 20px 15px 18px 55px;
    border-bottom: 1px solid #ccc;
    color: #077BD9;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    text-transform: none;
    word-wrap: break-word;
}
.swal2-text-highlight {
    font-weight: 600;
}
.swal2-html-container {
    margin: 25px 18px 0px 18px;
    font-size: 16px;
    text-align: left;
    color: #7a7a7a;
}
.swal2-actions {
    margin: 15px 0 0 0;
}
.swal2-confirm {
    position: absolute;
    display: inline-block;
    bottom: 15px;
    background: linear-gradient(45deg,#0084D7,#31c5ed)!important;  
}
.swal2-cancel {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 142px;
    background: transparent;
    box-shadow: none;
    color: #077BD9;
    font-weight: 600;
}
.swal2-cancel:hover {
    background: transparent;
    color: #077BD9;
    box-shadow: none;
}
.retrycancelSwtSessTimeout {
    right: 200px !important;
}

/************ toast Alert Css ************/
.swal2-popup.swal2-toast .swal2-title {
    position: relative;
    margin: 0.8em 1em;
    border-bottom:0;
    color: #fff;
}
.swal2-container.swal2-top-end > .swal2-popup.swal2-toast, .swal2-container.swal2-top-right > .swal2-popup.swal2-toast {
    overflow: hidden;
}
.swal2-popup.swal2-toast.swal2-show {
    animation:none !important;
}
.colored-toast.swal2-icon-success {
    background: linear-gradient(45deg,#43a047,#1de9b6)!important;
}
.colored-toast.swal2-icon-error {
    background: linear-gradient(45deg,#ff5252,#f48fb1)!important;
}
.colored-toast.swal2-icon-warning {
    background: linear-gradient(45deg,#ff6f00,#ffca28)!important;
}
.colored-toast.swal2-icon-info {
    background: linear-gradient(45deg,#0288d1,#26c6da)!important;
}
.colored-toast.swal2-icon-question {
    background: linear-gradient(45deg,#87adbd,#9fa8da)!important;
}
.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=left] {
    background: transparent !important;
}
.swal2-popup.swal2-toast .swal2-success .swal2-success-fix {
    background: transparent !important;
}
.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=right] {
    background: transparent !important;
}
.swal2-popup.swal2-toast .swal2-timer-progress-bar {
    background: rgb(0 0 0 / 25%);
}
.swal2-popup.swal2-toast .swal2-close {
    color: #fff;
}
.swal2-popup.swal2-toast .swal2-close:hover {
    background: transparent !important;
}

/************ Responsive CSS ************/
@media only screen and (max-width: 600px) {
    .menu-header-icon {
        line-height: 56px !important;
    }
    .search-button i {
        top: 3px;
    }
    .loader {
     left:45% !important;
    }
}
@media only screen and (min-width: 1920px) { 
    #intro .modal.open {
        height: 100%;
        max-height: 70% !important;
        top: 15% !important;
    }
}